* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  color: aqua;
  /* background-image: url("../public/background.jpg"); */
}

.container {
  width: 100%;
  margin: 0.3em 1em;
  background-color: darkgray;
}

.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2em;
  /* justify-content: space-evenly; */
}

/* .gird {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

img {
  height: 22em;
  width: 100%;
}
